<?xml version="1.0" encoding="UTF-8"?>
<server>
	<service>
		<connector
			protocol = "HTTP/1.1"
			port = "8080"
			maxThread = "100"
		/>
		<webroot>"webapps"</webroot>
	</service>
	<type-mappings>
		<type-mapping ext = "html" type = "text/html"/>
		<type-mapping ext = "jpg" type = "image/jpeg"/>
		<type-mapping ext = "png" type = "image/png"/>
		<type-mapping ext = "gif" type = "image/gif"/>
		<type-mapping ext = "ico" type = "image/ico"/>
	</type-mappings>
</server>